<!doctype html>
<html>
    <head>
        <title>Hovrly. 404</title>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'/>
        <link href='/static/all.css' rel='stylesheet'/>
        <link href='/static/icon.ico' rel='icon'/>
    </head>
    <body>
        <h1>404</h1>
        <h1><a href='/'>&larr;</a></h1>
    </body>
    <script src='/static/all.js'></script>
</html>
