<!doctype html>
<html>
    <head>
        <title><%= config.title %><% if (meta) { %>. <%= meta.title %><% } %></title>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'/>
        <link href='/static/all.css' rel='stylesheet'/>
        <link href='/static/icon.ico' rel='icon'/>
    </head>
    <body>
