<!doctype html>
<html>
    <head>
        <title>Hovrly</title>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'/>
        <link href='/static/all.css' rel='stylesheet'/>
        <link href='/static/icon.ico' rel='icon'/>
    </head>
    <body>
        <h1>Hovrly —<br/>best partner for disctributed teams</h1>
        <p><a href='https://app.hovrly.com/download/mac'>Download for MacOS</a></p>
        <p><a href='/donate'>Donate</a></p>
    </body>
    <script src='/static/all.js'></script>
</html>
