<%- include('_header'); %>

    <h1>Hovrly —<br/>best partner for disctributed teams</h1>
    <p><a href='https://app.hovrly.com/download/mac'>Download for MacOS</a></p>
    <p><a href='/donate'>Donate</a></p>

<%- include('_footer'); %>
